/venv/
/.idea
/examples/data/
/tutorial/images/
/tutorial/stock_data/
/portfolio-analytics/.idea/
/portfolio-analytics/docs/build/
/latex/ufcd/
*.aux
*.log
*.out
*.toc
*.idx
*.ind
*.ilg
*.synctex.gz
*.fls
*.fdb_latexmk
*.pygstyle
*.snm
*.pygtex
*.vrb
*.nav